<!DOCTYPE html>

<html lang="en">

    <head>
        <link rel="stylesheet" href="/css/style.css" type="text/css"/>

    </head>

    <div>
        <div class="main-content">
            {{>header}}
            <img src="./img/Spintly Logo.png"/>
        </div>

        {{>footer}}
    </body>   



</html>